@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
    font-family: 'karmilla';
    src: url('../fonts/karmilla-regular-015-webfont.eot');
    src: url('../fonts/karmilla-regular-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karmilla-regular-015-webfont.woff2') format('woff2'),
         url('../fonts/karmilla-regular-015-webfont.woff') format('woff'),
         url('../fonts/karmilla-regular-015-webfont.ttf') format('truetype'),
         url('../fonts/karmilla-regular-015-webfont.svg#karmillaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karmilla';
    src: url('../fonts/karmilla-bold-015-webfont.eot');
    src: url('../fonts/karmilla-bold-015-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karmilla-bold-015-webfont.woff2') format('woff2'),
         url('../fonts/karmilla-bold-015-webfont.woff') format('woff'),
         url('../fonts/karmilla-bold-015-webfont.ttf') format('truetype'),
         url('../fonts/karmilla-bold-015-webfont.svg#karmillabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*----------  Site ----------*/

 #spip-admin {
   display:none;
 }

*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
#menu-logo, .bouton, .more, .select-menu, .icon, .meta{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body, html {
	font-size: 16px;
	line-height: 1.3em;
}
html {
	height: 100%;
	font-family: "karmilla", arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	height: 100%;
	margin: 0;
	color: #222;
	font-family: "karmilla", arial, sans-serif;
	background: #FFF;
	word-break: break-word;
}


/*----------  Grid ----------*/


.col-wrap{ font-size: 0;}
.col25, .col33, .col40, .col50, .col60, .col66, .col75{
	min-width: 160px;
	min-width: 10rem;
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
}
.col25{ width: 25%; }
.col33{ width: 33%; }
.col40{ width: 40%; }
.col50{ width: 50%; }
.col60{ width: 60%; }
.col66{ width: 66%; }
.col75{ width: 75%; }


/*----------  Typo ----------*/
a {
	color: inherit;
}
a:focus {
	outline: none;
}
p a{
	text-decoration: none;
	border-bottom: 1px solid #FFC200;
}
p a:hover{
	border-bottom-width: 2px;
}
p a:active{
	position: relative;
	top: 1px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, a.pdf {
	text-decoration: none;
}
h1, .h1 {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1.2em;
	margin: 16px 0;
	margin: 1rem 0;
	font-weight: normal;
}
h2, .h2 {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.2em;
	margin-bottom: 16px;
	margin-bottom: 1rem;
	font-weight: normal;
}
h3, .h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.2em;
	font-weight: normal;
}
h4, .h4 {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2em;
	font-weight: normal;
}
h5, .h5 {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.2em;
	font-weight: normal;
	margin: 16px 0 1em 0;
	margin: 1rem 0 1em 0;
}
h6, .h6 {
	font-weight: normal;

}
.strong, b {
    font-family: 'karmilla', helvetica, arial, sans-serif;
    font-weight: bold;
}
.discret {
	color: #999;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	font-size: .95rem;
	line-height: 1.25em;
    word-spacing: -.15em;
}
.small{
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.2em;
}
.medium {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2em;
}
.big {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.2em;
}
ul {
	margin-left: 48px;
	margin-left: 3rem;
}
ul.liste-lettres {
	list-style-type: upper-alpha;
}
.texte-courant p:not(.message){
	margin-bottom: 1em;
	line-height: 1.32em;
}
.texte-courant iframe {
	margin-bottom: 1em;
	width: 100%;
}
.texte-courant li, .texte-courant .medium{
	margin-bottom: 16px;
    margin-bottom: 1rem;
}

#page-standard {
	max-width: 800px;
	max-width: 50rem;
}

article section h4{
	margin-bottom: 2px;
}
article section .small{
	line-height: 1em;
	display: block;
}
header h5{
	margin-top: 0;
}
img.insertion{
	max-width: 100%;
	height: auto;
	display: block;
}
.hidden{
	display: none;
}
button{
	cursor: pointer;
}

/*----------  Footer ----------*/
#footer {
	margin-left: 320px;
	margin-left: 20rem;
	padding: 32px;
	padding: 2rem;
}
#footer-logos {
	text-align: left;
}
#footer-logos img {
	max-width: 100px;
	max-width: 6.25rem;
	max-height: 40px;
	max-height: 2.5rem;
	margin: auto 32px;
	margin: auto 2rem;
	display: inline;
	vertical-align: middle;
}
#footer-logos a:first-child img{
	margin-left: 0;
}


/*----------  Menu ----------*/


#close-menu, #show-menu{
	cursor: pointer;
}
#close-menu{
    top: 0;
    position: absolute;
    right: 1px;
    padding: 7px 16px;
    padding: .45rem 1rem;
    display: none;
    color: #AEACA4;
    font-size: 24px;
    font-size: 1.5rem;
}
#show-menu{
	position: fixed;
	padding: 5px 8px;
	display: none;
	z-index: 1500;
	background: #ECE8DD;
	border-radius: 2px;
	top: 24px;
	top: 1.5rem;
	left: 32px;
	left: 2rem;
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	opacity: 1;
    filter: alpha(opacity=1);
    -webkit-backface-visibility:hidden;
}
#show-menu:before{
	margin:0;
}
#show-menu>span{
	margin-left: 12px;
	margin-left: .75rem;
}

#menu{
	width: 320px;
	width: 20rem;
	background: rgb(242, 239, 228);
	color: #007AC8;
	border-right: 1px solid rgba(0,0,0,.1);
	position: fixed;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1500;
	left: 0;
	top: 0;
	padding: 0 20px;
	padding: 0 1.25rem;
    -webkit-backface-visibility:hidden; 
}
#menu-logo{
	margin-left: -20px;
	margin-left: -1.25rem;
	margin-right: -20px;
	margin-right: -1.3rem;
	display: block;
}
#menu-logo img {
	display: block;
	width: 100%;
}
#menu a {
	text-decoration: none;
	color: #007AC8;
}


/* ??? checker la coupure de mots */
#menu ul, #menu li #menu>div {
	margin:0;
	list-style-type: none;
    text-overflow: ellipsis;
    color: #9F9F9F;
}
div#menu-header {
	margin-top: 12px;
	margin-top: .75rem;
	font-size: 0;
	position: relative;
}
#menu-header li {
	display: inline-block;
	font-size: 12px;
	font-size: .75rem;
	line-height: 20px;
	line-height: 1.25rem;
	margin-right: 8px;
	margin-right: .5rem;
}
#menu-header li:last-child {
/*	float: right;
	margin: 0;
*/
}
#menu-header>ul.languages{
	display: inline-block;
    margin-bottom: 2px;
    margin-bottom: .125rem;
}
#search-button {
    font-size: 16px;
    font-size: 1rem;
    padding: 8px 12px;
    padding: .5rem .75rem;
    margin-right: -12px;
    margin-right: -.75rem;
    margin-top: -8px;
    margin-top: -.5rem;
	display: inline-block;
	position: absolute;
	right: 0;
	cursor: pointer;
}
#searchbar-button:checked ~ #search-button:before{
	content: "\f00d";
}
#menu-searchbar {
	height: 0;
    -webkit-transition: height .2s ease-in-out;
            transition: height .2s ease-in-out;
}
#menu-searchbar input{
    height: 0;
    padding: 0;
    border: none;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    -webkit-transition: height .2s ease-in-out, opacity .2s ease-in-out, margin .2s ease-in-out;
            transition: height .2s ease-in-out, opacity .2s ease-in-out, margin .2s ease-in-out;
    overflow: hidden;
    outline: none;
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 4px;
    padding-right: .25rem;
    -webkit-appearance: none;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0	;
}
#content-searchbar input{
	max-width: 880px;
	max-width: 55rem;
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 4px;
    padding-right: .25rem;
    -webkit-appearance: none;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}
#menu-searchbar input::-ms-clear, #content-searchbar input::-ms-clear{
	margin-right:8px;
	margin-right:.5rem;
}
#menu-searchbar input::-webkit-search-cancel-button, #content-searchbar input::-webkit-search-cancel-button{
	margin-right:8px;
	margin-right:.5rem;
}
#searchbar-button:checked ~ #menu-searchbar input{
	height: 40px;
	height: 2.5rem;
    opacity: 1;
    filter: alpha(opacity=100);
	margin-bottom: 16px;
	margin-bottom: 1rem;
    margin-top: 2px;
    margin-top: .125rem;
}
#searchbar-button:checked ~ #menu-searchbar{
	height: 58px;
	height: 3.625rem;
}

#menu-searchbar form{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}
ul#menu-footer {
	margin-bottom: 32px;
	margin-bottom: 2rem;
	border-top: 1px solid #007AC8;
	padding-top: 8px;
	padding-top: .5rem;
}
#menu-footer>li {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.45em;
}
#menu-principal>li {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2em;
	border-top: 1px solid #007AC8;
}
#menu-principal>li>a{
	display: block;
	padding: 12px 0;
	padding: .75rem 0;
}

#menu-principal li.active>a:not(.bouton), #menu-principal li li.active>a:not(.bouton) {
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-weight: bold;
}


#menu .tree{
	margin-top: 8px;
	margin-top: .5rem;
}
#menu .tree, #menu .tree ul {
    margin-left: 10px;
}
#menu .tree li {
    list-style-type: none;
    margin-left: 10px;
    position: relative;
}
#menu .tree li:before, #menu .tree li:after {
    content: "";
    position: absolute;
	border : 1px solid #007AC8;
    width:10px;
}
#menu .tree li:before {
    top:-6px;
    left:-10px;
    border-right-width: 0;
    border-top-width: 0;
    height:25px;
}
#menu .tree li:after {
    top:18px;
    left:-10px;
    border-right-width: 0;
    border-bottom-width: 0;
    height:100%;
}
#menu .tree li:last-child:after  {
    display:none;
}
#menu .tree a.item {
	margin: 7px 0 7px 5px;
	font-size: 18px;
	line-height: 1.25em;
	display: inline-block;
}

#topButton{
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: 'alpha(opacity=0)';
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding: 5px 0;
	display: none;
}
#topButton > .glyphicon{
	font-size: 14px;
	margin-right: 3px;
}
#topButton.shown{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* Hack IE8 */
	filter: alpha(opacity = 100); /* Hack IE 5-7 */
}

/* -------- Contenu --------*/
#contenu{
	display: block;
	margin-left: 320px;
	margin-left: 20rem;
	min-height: 100%;
	position: relative;
}

#contenu .wrapper {
	padding: 32px;
	padding: 2rem;
	position: relative;
}
#contenu .wrapper:not(.large){
	max-width: 1280px;
	max-width: 80rem;
}
/* TO CHECK */
#contenu.wrapper {
	padding: 32px;
	padding: 2rem;
	position: relative;
}
#contenu.wrapper:not(.large){
	max-width: 1280px;
	max-width: 80rem;
}

/*----------  Home ----------*/


#welcome-map {
	height: 448px;
	height: 28rem;
}

.leaflet-bottom.leaflet-left, .leaflet-bottom.leaflet-right {
	display: none;
}
#presentation {
	background-color: #FFC200;
	padding: 20px 24px;
	padding: 1.25rem 1.5rem;
	position: relative;
	margin-bottom: 32px;
	margin-bottom: 2rem;
	margin-top: -71px;
	margin-top: -4.45rem;
}
#presentation p{
	margin: 0;
}
.mises-a-jour{
	padding-left: 32px;
	padding-left: 2rem;
	font-size: 12px;
	font-size: .8rem;
	line-height: 1.2em;
}
.mises-a-jour li{
	margin-bottom: 12px;
	margin-bottom: .75rem;
}
.liste-articles>li, .mises-a-jour li {
	list-style-type: none;
}

.liste-articles>article, .liste-articles>li, .journal>article, .nouvelles article  {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	position: relative;
}
.article-icone {
    width: 30%;
    max-width: 192px;
    max-width: 12rem;
    float: left;
    margin-right: 32px;
    margin-right: 2rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-top: 8px;
    margin-top: .5rem;
    border: 1px solid rgba(0,0,0,.5);
}
.nouvelle.extrait .article-icone{
	display: none;
}
figure.article-icone{
	width: auto;
	max-width: 100%;
	margin-right: 0;
}
.article-icone>img {
    width: 100%;
    display: block;
}
.logo-institution{
    margin-bottom: 8px;
    margin-bottom: .5rem;
}
.liste-articles .billet{
	-webkit-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	margin: 16px -16px;
	margin: 1rem -1rem;
	padding: 16px;
	padding: 1rem;
}
.liste-articles .billet:hover{
	background: rgb(241, 236, 231);
}
.liste-articles .billet h4, .journal>article h4 {
	font-size: 24px;
	font-size: 1.5rem;
    line-height: 1.25em;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.nouvelles article h4 {
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 8px;
	margin-bottom: .5rem;
    font-size: 16px;
    font-size: 1rem;
}
.nouvelles article .discret{
	margin-top: 8px;
	margin-top: .5rem;
}
.liste-articles .billet a {
	text-decoration: none;
}
ul#news, .mises-a-jour ul, ul#journal {
	margin: 0;
}


/*------------ Inventaire -------------*/
#arbo {
	font-size: 12px;
	font-size: .75rem;
	position: absolute;
	top: 32px;
	top: 2rem;
	left: 32px;
	left: 2rem;
}
#arbo~h1{
	margin-top: 64px;
	margin-top: 4rem;
}
#arbo~header{
	margin: 64px 0 64px 0;
	margin: 4rem 0 4rem 0;
	max-width: 992px;
	max-width: 62rem;
}
#arbo~header, header.gros{
	margin: 64px 0 0px 0;
	margin: 4rem 0 0rem 0;
	max-width: 992px;
	max-width: 62rem;
}
#arbo~header h1, header.gros h1{
	margin:0;
	line-height: 1.1em;
    margin-bottom: 12px;
    margin-bottom: .75rem;
}
#arbo a {
	text-decoration: none;
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-weight: bold;
}
#inventaire-introduction {
    width: 288px;
    width: 18rem;
    margin-right: 32px;
    margin-right: 2rem;
    margin-bottom: 64px;
    margin-bottom: 4rem;
}
#inventaire-images {
	overflow: hidden;
	width: 66%;
	width: calc(100% - 20rem);

}
#inventaire-images, #inventaire-introduction{
	font-size: 16px;
	font-size: 1rem;
    display: inline-block;
    vertical-align:top;
}

/*------------ Syntheses -------------*/
ul.syntheses {
	margin-left: 0;
	margin-top: 32px;
	margin-top: 2rem;
}
ul.syntheses li h3{
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 8px;
	margin-bottom: .5rem;
}
ul.syntheses p:not(.message){
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
ul.syntheses li{
	list-style: none;
	position: relative;
}
ul.syntheses a{
	text-decoration: none;
    display: block;
    border-left: 3px solid #FFC200;
    padding-left: 16px;
    padding-left: 1rem;
    max-width: 544px;
    max-width: 34rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}



/*------------ Slider -------------*/
.slider-wrapper {
	margin: 4px 0 48px 0;
	margin: .25rem 0 3rem 0;
	width: 100%;
	display: inline-block;
	position: relative;
}
.slider-wrapper:after {
	padding-top: 56.25%;
	/* 16:9 ratio */
	display: block;
	content: '';
}
.slider{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.slick-list, .slick-track, .slick-slide {
	height: 100%;
}
.slick-dots{
	margin: 0;
	bottom: -32px;
	bottom: -2rem;
}
figure.slick-slide {
	background-size: cover !important;
	background-position: center center !important;
	outline: none;
	overflow: hidden;
	font-size: 0;
}
#inventaire-images {
	position: relative;
}
.slick-zoom {
	position: absolute;
	bottom: 100px;
	bottom: 6.25rem;
	right: 20px;
	right: 1.25rem;
	z-index: 9;
	background: center no-repeat url("../images/zoom.png");
    height: 31px;
    width: 31px;
	text-indent: -99999px;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.slick-slide img {
	height: 100%;
	min-width: 100%;
	left: 50%;
	position: relative;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;
	vertical-align: middle;
	-o-object-fit: cover;
	   object-fit: cover;
	cursor: pointer;
}
.slider.slick-fullscreen .repere{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.slider.slick-fullscreen .slick-slide img{
	max-width: 100%;
	min-width: inherit;
	max-height: 100%;
	height: auto;
	width: auto;
}
.slick-slide.slick-active img {
	filter: none;
  -webkit-filter: grayscale(0);
	opacity: 1;
	filter: alpha(opacity=100);
}
.slider-arrow-left {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 0;
	z-index: 999;
	padding: 32px 20px;
	padding: 2rem 1.25rem;
	cursor: pointer;
}
.slider-arrow-right {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	right: 0;
	z-index: 999;
	padding: 30px 10px;
	cursor: pointer;
}
.slider.slick-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	padding: 60px;
	margin: 0;
	overflow: hidden;
	height: auto;
	background-color: rgba(255, 255, 255, 0.95);
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
    -webkit-backface-visibility:hidden; 
}
.slider.slick-fullscreen .slick-slide {
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	cursor: pointer;
}

/*------------ Tabs -------------*/
.tabs-wrapper {
	position: relative;
	margin: 8px 0 48px 0;
	margin: .5rem 0 3rem 0;
	min-height: 320px;
	min-height: 20rem;
}
.tabs-wrapper #nav-tabs {
	width: 320px;
	width: 20rem;
	margin: 0;
	background-color: #fff;
	padding-right: 32px;
	padding-right: 2rem;
	position: absolute;
	z-index: 9;
	padding-top: 12px;
	padding-top: .75rem;
}
.tabs-wrapper #nav-tabs ul {
	margin: 0;
}
.tabs-wrapper #nav-tabs li {
	list-style-type: none;
	font-size: 16px;
	font-size: 1rem;
}
.tabs-wrapper #nav-tabs>ul>li{
	border-top: 1px solid #999;
}
.tabs-wrapper #nav-tabs>ul>li:last-of-type:not(.new) {
	border-bottom: 1px solid #999;
	margin-bottom: 12px;
	margin-bottom: .75rem;
}
.tabs-wrapper #nav-tabs li.selected {
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-weight: bold;
}
.tabs-wrapper #nav-tabs a {
	text-decoration: none;
	display: block;
	padding: 12px 0;
	padding: .75rem 0;
	position: relative;
	line-height: 20px;
	line-height: 1.25rem;
	padding-left: 2px;
}

/* pour les chapitres */
.tabs-wrapper #nav-tabs ul.chapitres{
	margin: 0;
	display:none;
}
.tabs-wrapper #nav-tabs ul.chapitres li{
	list-style-type: none;
	border-top: 0;
	border-top: 1px dashed #ccc;
}
.tabs-wrapper #nav-tabs ul.chapitres li a {
	text-decoration: none;
	display: block;
	padding-left: 20px;
	padding-left: 1.25rem;
}

#tabs-menu-button{
    position: absolute;
    padding: 4px 8px;
    padding: .25rem .5rem;
    top: 8px;
    top: .5rem;
    right: -68px;
    right: -4.25rem;
    cursor: pointer;
    display: none;
    font-size: 28px;
    font-size: 1.75rem;
    color: #999;
}

.tabs-wrapper article.tab {
	display: none;
	background-color: #FFF;
	padding-left: 320px;
	padding-left: 20rem;
	padding-right: calc(100% - 62rem);
	width: 100%;
	padding-bottom: 48px;
	padding-bottom: 3rem;
	min-height: 320px;
	min-height: 20rem;
	padding-top: 8px;
	padding-top: .5rem;
}
.tabs-wrapper article.tab:target{
	display: block;
}
.dashboard .tabs-wrapper article.tab{
	padding-right: 0;
}
section.reseaux .tabs-wrapper article {
	padding-right: 0;
}
article.tab header{
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}
article.tab h2{
	max-width: 640px;
	max-width: 40rem;
	margin-bottom: 12px;
	margin-bottom: .75rem;
}


#inventaire-mapbox {
	height: 384px;
	height: 24rem;
}
#inventaire-mapbox.full {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


/* ------------------ VILLE --------------------- */
#ville-projet{
	margin-bottom: 56px;
	margin-bottom: 3.5rem;
    margin-right: -32px;
    margin-right: -2rem;
}
#ville-projet h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 24px;
    right: 1.5rem;
    background: rgba(255,255,255,.55);
    padding-bottom: 8px;
    padding-bottom: .5rem;
    z-index: 9;
    padding: 8px;
    padding: .5rem;
}
#ville-projet h2>span{
    padding-right: 4px;
    padding-right: .25rem;
}
#ville-projet a {
    position: relative;
	text-decoration: none;
	font-size: 0;
}
#ville-projet article {
    width: 33%;
    padding-right: 24px;
    padding-right: 1.5rem;
    display: inline-block;
    vertical-align: top;
    min-width: 288px;
    min-width: 18rem;
    max-width: 400px;
    max-width: 25rem;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
    position: relative;
}
#ville-projet article figure {
    margin: 0 0 8px;
    margin: 0 0 .5rem;
    padding-top: 66.66%;
    position: relative;
    background: #FFC200;
    background-size: cover;
	border-bottom: 4px solid #FFC200;
	border-bottom: .25rem solid #FFC200;
	background-color: #FFC200;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}
#ville-projet article img {
	width: 100%;
	height: auto;
    position: absolute;
    top: 0;
}


/* ------------------ Document --------------------- */
.thematique-plan ul {
	margin-left: 48px;
}
.thematique-document {
	border: 1px solid;
	padding: 48px;
	padding: 3rem;
	box-shadow: 2px 2px 0 black;
	margin: 24px 0;
	margin: 1.5rem 0;
	overflow: hidden;
}
.thematique-document-header{
	margin-bottom: 16px;
	margin-bottom: 1rem;
}
.thematique-document-fichiers {
	display: inline-block;
	float: left;
	margin-right: 24px;
	margin-right: 1.5rem;
}
.thematique-document-description p:not(.message) {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.thematique-document-meta{
	max-width: calc(100% - 6.25rem);
	display: inline-block;
}
.thematique-document-meta p {
	margin: 0;
}
.thematique-document-fichiers>.fichier>.titre-doc {
	display: none;
/*	margin-left: 70px; */
}
.thematique-chapitre {
  display:none;
}

.fichier {
	position: relative;
	display: block;
	width: 3em;
	height: 3em;
	margin-top: 1em;
    line-height: 2.125em;
   	font-size: 12px;
   	font-size: .75rem;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	text-transform: uppercase;
    text-align: center;
   	letter-spacing: .03em;
   	text-decoration: none;
   	background: #D8D4C8 none repeat scroll 0% 0%;
    color: #A5A39C;
}
.fichier.integre{ margin-top: 2em; margin-bottom: 1em; }
.fichier.petit{ font-size: 10px; font-size: .625rem; }
.fichier.moyen{ font-size: 16px; font-size: 1rem; }
.fichier.gros{ font-size: 20px; font-size: 1.25rem; }
.fichier .titre-doc{
	width: 260px;
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.2em;
	color: #888;
	vertical-align: middle;
	display: inline-block;
	text-align: left;
    position: absolute;
    left: 4em;
    top: -1em;
    bottom: 0;
}
.fichier.petit .titre-doc{ left: 3.5em; }
.fichier.moyen .titre-doc{ left: 5em; }
.fichier.gros .titre-doc{ left: 6em; }
.fichier .titre-doc:before{
	content:"";
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
.fichier .titre-doc>span{
	display: inline-block;
	vertical-align: middle;
}
.fichier:before {
	content:"";
	position: absolute;
	background: inherit;
	top: -1em;
	left: 0;
	right: 1em;
	height: 1em;
}
.fichier:after{
	content: "";
	position: absolute;
	top: -1em;
	right: 0;
	border-style: solid;
	border-width: 0 1em 1em 0;
	height: 0;
	width: 0;
	display: block;
    border-color: #C1BDAE transparent;
}
.fichier.pdf{
	background: #FFC200 none repeat scroll 0% 0%;
	color: #D48703;
}
.fichier.pdf:after{
	border-color: #ECA72E transparent;
}
.fichier.doc, .fichier.docx{
	background: #6AB8EA none repeat scroll 0% 0%;
	color: #386F91;
}
.fichier.doc:after, .fichier.docx:after{
	border-color: #4690BD transparent;
}




/*------------ Lexique -------------*/
#lexique-lettres {
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	font-size: 1.25rem;
	position: fixed;
    -webkit-backface-visibility:hidden; 
	top: 20px;
	top: 1.25rem;
	left: 352px;
	left: 22rem;
	z-index: 1;
}
#lexique-lettres>a {
	text-decoration: none;
	text-transform:uppercase;
	min-width: 32px;
	min-width: 2rem;
	background-color: #FFC200;
	text-align: center;
	height: 32px;
	height: 2rem;
	line-height: 32px;
	line-height: 2rem;
	display: block;
	float: left;
}
#lexique-lettres a.ajouter{
	width: auto;
	text-transform:none;
    background: #007AC8;
    color: #fff;
	font-weight: normal;
	cursor: pointer;
}
#lexique-lettres a.ajouter .plus{
	width: 32px;
	width: 2rem;
	display: inline-block;
	background: #000;
}
#lexique-lettres a.ajouter .text{
	margin: 0 8px;
	margin: 0 .5rem;
	display: none;
	font-size: 16px;
	font-size: 1rem;
}
#lexique-lettres a.ajouter:hover{
	border: none;
}

#lexique-lettres a.ajouter:hover .text{
	display: inline-block;
}
#lexique-lettres>a:hover {
	border-bottom: 3px solid #000;
	border-bottom: .2rem solid #000;
}
#lexique-lettres>a.active {
	background-color: #000;
	color: rgb(255, 255, 255);
}
#lexique-mots {
	margin-top: 48px;
	margin-top: 3rem;
	max-width: 640px;
	max-width: 40rem;
}
#lexique-mots>h1{
	text-transform:uppercase;
}

/*----------  ????? ----------*/
.lexique-wrapper .glomot-contenu{
	display: none;
}
.lexique-wrapper .glomot-contenu.ouvert{
	display: block;
}
.lexique-wrapper .lexique-titre {
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.2em;
	text-decoration: none;
	font-family: 'karmilla', helvetica, arial, sans-serif;
}
.lexique-wrapper .lexique-titre.ouvert {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 12px;
}


.lexique-definition article.definition{
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	border-left: 1px solid #FFC200;
	padding-left: 12px;
	padding-left: .75rem;
}
.lexique-definition p.discret{
	margin: 8px;
	margin: .5rem;
	margin-left: 0;
	cursor: help;
}
.lexique-wrapper .lexique-definition {
	margin-left: 24px;
	margin-left: 1.5rem;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}



.lexique-wrapper .lexique-definition .discret{
	display:inline-block;
}

.lexique-wrapper .lexique-definition .lexique-reference {
	display: none;
	position:absolute;
	background-color:#044984;
	color:white;
	padding: 12px 16px;
	padding:.75rem 1rem;
	margin-right: 20px;
	margin-right: 1.25rem;
    max-width: 660px;
    line-height: 20px;
    line-height: 1.25rem;
    z-index: 1;
}
.lexique-wrapper .lexique-definition .discret:hover ~ .lexique-reference {
	display: block;
}
.lexique-wrapper .lexique-voisins {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	font-size: 12px;
	font-size: .75rem;
}
.lexique-wrapper .source{
	font-family: 'Inconsolata', monospace;
	font-size: 12px;
	font-size: .8rem;
	letter-spacing: 1px;
	margin-right: 1px;
	color: #A9ACCF;
}

/*--------------- Reseaux -------------*/
section.personnes, section.institutions{
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}
.bloc-membre {
	width: 288px;
	width: 18rem;
	margin: 0 32px 32px 0;
	margin: 0 2rem 2rem 0;
	display: inline-block;
	vertical-align: top;
}
.bloc-membre h4{
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    margin-bottom: .5rem;
}
.bloc-membre p{
	margin-bottom: 8px;
	margin-bottom: .5rem;
}
.sous-rubrique h3{
	margin: 0;
	font-weight: bold;
}

/*-------------- Table membres ------------*/


table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 12px;
	margin-bottom: .75rem;
}
table thead {
	background-color: #FFC200;
	text-align: left;
}
table th {
	padding: 8px 4px;
	padding: .5rem .25rem;
	cursor: pointer;
	min-width: 144px;
	min-width: 9rem;
}
table th:last-child {
}
table tr {
	padding: 0;
}
table td {
	padding: 8px 4px;
	padding: .5rem .25rem;
	vertical-align: top;
	min-width: 144px;
	min-width: 9rem;
	border-bottom: 1px solid #FFC200;
	font-family: 'karmilla', helvetica, arial, sans-serif;
}
table td.contributeurs, table td.titre, table td.nom{
	min-width: 192px;
	min-width: 12rem;
}
table td a{
	text-decoration: none;
}
table td:first-child {
	white-space: nowrap;
	font-weight: bold;
}
table td:last-child {
}
th.trad, td.trad{
	max-width: 64px;
    max-width: 4rem;
}
html[lang="en"] th.trad, html[lang="en"] td.trad{
	max-width: 48px;
    max-width: 3rem;
}
th.statut, td.statut{
	max-width: 128px;
	max-width: 8rem;
}
html[lang="en"] th.statut, html[lang="en"] td.statut{
	max-width: 112px;
	max-width: 7rem;
}

.headerSortUp:after, .headerSortDown:after{
	display: inline-block;
	font: normal normal normal 12px FontAwesome;
	font: normal normal normal .75rem FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 8px;
	margin-left: .5rem;
}
.headerSortUp:after{
	content:"\f0d7";
}
.headerSortDown:after{
	content:"\f0d8";
}

/*-------------- Journal ------------*/
.journal, .nouvelles{
	margin-bottom: 80px;
	margin-bottom: 5rem;
}
.journal {
    margin-right: 0;
    padding-right: 6%;
}
section.journal article{
	position: relative;
	max-width: 640px;
	max-width: 40rem;
}
.extrait{
	line-height: 1.32em;
}
.extrait:after {
    content: "";
    clear: both;
    display: table;
}
section.journal article.extrait a, section.nouvelles a {
	text-decoration: none;
}

article.extrait .extrait-contenu{
	margin-bottom: 12px;
	margin-bottom: .75rem;
}
article.extrait .extrait-contenu p{
	display: inline;
}
article.extrait .more{
    color: #3C87B6;
    margin-left: 8px;
    margin-left: .5rem;
    font-size: 13px;
    font-size: .85rem;
    border-bottom: 1px solid;
    white-space: nowrap;

}
.nouvelles {
	display: inline-block;
	max-width: 288px;
	max-width: 18rem;
	vertical-align: top;
}


/*-------------- Article ------------*/

section.page-standard {
	display: inline-block;
	vertical-align: top;
	max-width: 880px;
	max-width: 55rem;
	margin-right: 32px;
	margin-right: 2rem;
	padding-top: 48px;
	padding-top: 3rem;
} 
section.page-standard>article>header{
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}
section.page-standard article .grid-2{
	font-size: 0;
}
section.page-standard article .grid-2>div{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-size: 1rem;
}
section.page-standard article .grid-2>div:first-child {
	width: 192px;
	width: 12rem;
	margin-right: 32px;
	margin-right: 2rem;
    margin-top: 3.2px;
    margin-top: .2rem;
}
section.page-standard article .grid-2>div:first-child>.discret{
	line-height: 20.8px;
	line-height:  1.3rem;
}
section.page-standard article .grid-2>div:last-child {
	width: calc(100% - 14rem);
	min-width: 320px;
	min-width: 20rem;
}
.colonne{
	max-width: 672px;
	max-width: 42rem;
}
article.apropos{
	margin-bottom: 96px;
	margin-bottom:6rem;
}
.logos{
	margin-top: 16px;
	margin-top: 1rem;
}
.logos>img{
    max-width: 80px;
    max-width: 5rem;
    max-height: 100px;
    max-height: 6.25rem;
    width: auto;
    vertical-align: middle;
    display: inline-block;
    margin: 8px;
    margin: .5rem;
}
section.credits {
    padding: 1rem;
    background: #eee;
    border: 1px solid #ccc;
    line-height: 1.4em;
    max-width: 40rem;
}
section.credits h3{
	margin-bottom: .5rem;
}
section.credits a{
	border-color: #bbb;
}
/*----------  AUTEURS  ----------*/

.auteurs {font-size: 0; line-height: 20px; line-height: 1.25rem; display: inline-block; }
.discret .auteurs{ line-height: 8px; line-height: .5rem; }
.discret .auteur{ line-height: 16px; line-height: 1rem; }
.auteurs:before{ font-size: 12px; font-size: .75rem; }
.auteur { font-size: 12px; font-size: .75rem; }
.discret .auteur{ font-size: 15px; font-size: .95rem; line-height: 20.8px; line-height: 1.3rem;}
.auteurs .auteur:not(:last-child):after{content:', ';}
.auteurs .auteur:nth-last-child(2):after{content:' \&\00a0'; }


/*----------  LOGIN  ----------*/

#formulaire_login{
	max-width: 320px;
	max-width: 20rem;
}
#formulaire_login fieldset{
	margin-bottom: 8px;
	margin-bottom: .5rem;
}
#formulaire_login legend{
	display: none;
}
#formulaire_login label{
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    color: #999;
    font-weight: normal;
}
#formulaire_login label:not(.nofx){
    display: block;
}
#formulaire_login .editer_login, #formulaire_login .editer_password{
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	position: relative;
}
#formulaire_login #pass_securise{
    position: absolute;
    top: 37px;
    top: 2.35rem;
    right: 8px;
    right: .5rem;
    opacity: .75;
    filter: alpha(opacity=75);
    display: none;
}
#formulaire_login .details{
	color: #999;
	font-size: 12px;
	font-size: .75rem;
	text-align: right;
	line-height: 1.2em;
	margin-top: 8px;
	margin-top: .5rem;
}
input[type="text"], input[type="search"], input[type="password"]{
	width: 100%;
	padding: 8px;
	padding: 0.5rem;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'karmilla', helvetica, arial, sans-serif;
	border: 1px solid #CDCDCD;
}
#formulaire_login .boutons input{
	font-family: 'karmilla', helvetica, arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
	border-radius: .25rem;
	text-align: center;
	cursor: pointer;
	padding: 8px 16px;
	padding: .5rem 1rem;
	background: #23DD3A;
	color: #fff;
}
#formulaire_login .erreur_message{
	color: red;
}
p.reponse_formulaire{
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

#search-button{
	font-size: 16px;
	font-size: 1rem;
    padding: 8px 12px;
    padding: .5rem .75rem;
    margin-right: -12px;
    margin-right: -.75rem;
}
#resultats{
	margin: 0;
	margin-top: 32px;
	margin-top: 2rem;
}
#resultats li.resultat{
	list-style: none;
	margin-bottom: 48px;
	margin-bottom: 3rem;
	max-width: 608px;
	max-width: 38rem;
}
li.resultat a{
	text-decoration: none;
}
li.resultat .meta{
	color: #999;
	margin-bottom: 4px;
	margin-bottom: .25rem;
}
li.resultat .meta>span{
	margin-right: 8px;
	margin-right: .5rem;
}
li.resultat h3{
	color: #3592CE;
	margin-bottom: 4px;
	margin-bottom: .25rem;
}
.type{
    font-size: 12px;
    font-size: .75rem;
    line-height: 1em;
    text-transform: uppercase;
    border: 1px solid;
    padding: .125em .25em .05em;
    color: #999;
}

.type.document{ color:#FF8600; }

.type.synthèse, .type.synthese, .type.synthesis{ color: #a27f69;}

.type.nouvelle, .type.news, .type.article
{ color: #4ba7f5; }

.type.lexique, .type.entrée, .type.entree, .type.entry, .type.definition
{ color:#607D8B; }

.type.pays, .type.country,
.type.thématique, .type.thematique, .type.chapitre, .type.topic, .type.chapter,
.type.ville, .type.city,
.type.projet, .type.project
{ color:#28D04F; }

.icon.fleche {
    margin: 0 .25em;
}

/*----------  ANIMATION  ----------*/

#menu, #nav-tabs {
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
article.tab {
	-webkit-transition: padding .3s ease-in-out;
	transition: padding .3s ease-in-out;
}



/*----------  Responsiveness  ----------*/

.small-screen{
	display: none;
}

@media screen and (max-width: 1100px){
	#welcome-map {
		height: 18rem;
	}
	#contenu, #footer{
		margin-left: 0;
	}
	#footer-logos img{
		max-width: 65px;
		max-height: 30px;
		margin: auto 10px;
	}
	#close-menu, #show-menu{
		display: block;
	}
	#menu{
		left: -320px;
	}
	#menu.shown{
		left: 0;
	}
	#arbo{
		left: 9rem;
	}
	#arbo~header{
		margin-left: 7rem;
	}
	#contenu.accueil .col40 .col60, #contenu.accueil .col40 .col40{
		width: 100%;
		padding-left: 0;
	}
	#contenu.accueil .col40 .col40>div{
		margin-left: 0;
	}
	#lexique-lettres{
		top: 1.5rem;
		left: 9rem;
	}
	.journal{
		padding-right: 2rem;
	}
	#nav-tabs{
		padding-left: 0;
	}
}
@media screen and (max-width: 900px){
	.thematique-document{
		padding: 1.5rem;
	}
	#tabs-menu-button{
		display: block;
	}
	#nav-tabs{
		left: -22rem;
	}
	#nav-tabs.is_stuck:not(.is_bottom){
		margin-left: 2rem;
	}
	.tabs-wrapper article.tab{
		padding-left: 7rem;
		padding-right: calc(100% - 40rem);
	}
	body, html {
		font-size: 14px;
	}
	#ville-projet article{
		width: 50%;
	}
	.tabs-wrapper.openmenu #tabs-menu-button{
		display: none;
	}
	.tabs-wrapper.openmenu #nav-tabs{
		left: 0;
	}
	.tabs-wrapper.openmenu article.tab{

	}
}
@media screen and (max-width: 700px){
	.col25, .col33, .col40, .col50, .col60, .col66, .col75{
		display: block;
		width: 100%;
		padding: 0;
		max-width: initial;
	}
	body, html {
		font-size: 13px;
	}
	#contenu.wrapper, #contenu>.wrapper{
		padding: 1rem;
		padding-left: 4rem;
	}
	#show-menu{
		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		-webkit-transform-origin: 0 100%;
		    -ms-transform-origin: 0 100%;
		        transform-origin: 0 100%;
		top: 5.25rem;
		left: 3rem;
   	}
   	#show-menu:before{
   		-webkit-transform: rotate(90deg);
   		    -ms-transform: rotate(90deg);
   		        transform: rotate(90deg);
   	}
	.small-screen{
		display: block;
	}
	#arbo{
		left:4.125rem;
	}
	#arbo~header{
		margin-left: 0rem;
	}
	#nav-tabs.is_stuck:not(.is_bottom){
		margin-left: 4em;
	}
	#tabs-menu-button{
		right: -1.25rem;
	}
	#lexique-lettres{
		left: 4rem;
	}
	#inventaire-introduction, #inventaire-images{
		width: 100%;
	}
	#ville-projet{
		margin-right: 0;
	}
	.large-screen{
		display: none;
	}
	section.journal article{
		padding: 0;
	}
	section.journal>article:not(:nth-child(-n+4)),
	section.nouvelles>article:not(:nth-child(-n+4)){
		display: none;
	}
	.tabs-wrapper article.tab{
		padding-left: 0;
		padding-right: calc(100% - 40rem);
	}

}
@media screen and (max-width: 450px){

	body, html {
		font-size: 12px;
	}
	#ville-projet article{
		width: 100%;
		min-width: initial;
	}
	section.page-standard article .grid-2>div:last-child {
	    width: auto;
	    min-width: initial;
	}
}
@media screen and (max-width: 320px){
	#menu{
		width: 100%;
	}
}
@media print{
	#menu, #arbo, #footer, #spip-admin, section.administration{
		display: none !important;
	}
	body, html {
		font-size: 14px;
	}
	body{
		padding-right: 6rem;
	}
	#contenu, section.page-standard, section.journal article{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: inherit !important;
	}
}
